# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\INSSabadell\2onDamVi\M7-DesenInterficies\UF1\NF2\A4.InterficiesDinamiques\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
