# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\aluoo\Documents\DAMVI\SEGUNDODAMVI\M6 ACCES A DADES\UF4\laravel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
