[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background-color:LightSteelBlue;
  font-family: 'Raleway', sans-serif;
}

form#login-form {
  /* display:none */
  background: #fff;
  width: 15em;
  margin: 2em auto;
  overflow: hidden;
  position: relative;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  box-shadow: 0 0 0.2em #000;
}
form#login-form div.heading {
  background: #f85f64;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 0.7em;
  font-size:20px;
}
form#login-form div.form {
  width: 50%;
  float: left;
  padding: 0em 1.5em 1.5em;
  box-sizing: border-box;
}

div.form label {
  display: inline-block;
  color: gray;
  font-size: 1.1em;
  margin-top: 0.6em;
}
div.form input[type="text"], div.form input[type="password"] {
  border: 0.1em solid #dfdfdf;
  padding: 1em;
  margin: 0.6em 0;
  border-radius: 0.2em;
  box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  transition: all 0.15s ease-in-out;
}
div.form input[type="text"]:focus, div.form input[type="password"]:focus {
  outline: none;
  border: 0.1em solid #bdbdbd;
}
div.form input[type="submit"] {
  background: #f85f64;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  padding: 1.2em;
  overflow: hidden;
  border: none;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
  font-weight: bold;
  border-radius: 0.4em;
  transition: all 0.15s ease-in-out;
}
div.form input[type="submit"]:hover {
	background: rgba(248, 95, 100, 0.8);
}
td.tdh2{
	color:black;
	text-align:center;
}
td.tdh3{
	color:black;
	text-align:center;
}
td.tdh1{
	text-align:center;
	background-color:white;
}
table{
	background-color:#F85F64;
	padding:0.5em;
}
h1,h2,h3{
	text-align:center;
	color:white;
}
div.buttons{
	padding:1.2em;
	text-align: center;
}

div.missatge{
	background: Coral;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1.5em;
	width: 15em;
	margin: 2em auto;
	overflow: hidden;
	position: relative;
	border-radius: 0.3em;
	box-shadow: 0 0 0.2em #000;
}

div.form select[name="color"]{
	margin-bottom:0.6em;
}

div#menu {
	width: 27em;
	height: 4em;
	margin: 1em auto;
	/*position: relative;*/
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	box-shadow: 0 0 0.2em #000;
	display: flex;
	justify-content: center;
}

div#menu a {
    background-color: LightSeaGreen;
    color: white;
	margin: auto;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
	text-align: center;
}

div#menu a:hover {
    background-color: Coral;
}

img#loginImage{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:3em;
	width:25em;
	height:auto;
  }