# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\INSSabadell\2onDamVi\M7-DesenInterficies\UF1\NF1\A2.1InterficiesAccesADades\Login\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
